**/target
**/.DS_Store
**/nb-configuration.xml
**/nbactions.xml

*.moved-aside
*.xccheckout
*.xcscmblueprint
kami-solver-ios/KamiSolverCore/Arrow.h
kami-solver-ios/KamiSolverCore/Arrow.m
kami-solver-ios/KamiSolverCore/ClickHandler.h
kami-solver-ios/KamiSolverCore/ClickHandler.m
kami-solver-ios/KamiSolverCore/Color.h
kami-solver-ios/KamiSolverCore/Color.m
kami-solver-ios/KamiSolverCore/ColorCharacteristic.h
kami-solver-ios/KamiSolverCore/ColorCharacteristic.m
kami-solver-ios/KamiSolverCore/ConnectivityProvider.h
kami-solver-ios/KamiSolverCore/ConnectivityProvider.m
kami-solver-ios/KamiSolverCore/Convoluter.h
kami-solver-ios/KamiSolverCore/Convoluter.m
kami-solver-ios/KamiSolverCore/Device.h
kami-solver-ios/KamiSolverCore/Device.m
kami-solver-ios/KamiSolverCore/DumbSearch.h
kami-solver-ios/KamiSolverCore/DumbSearch.m
kami-solver-ios/KamiSolverCore/EdgeDetector.h
kami-solver-ios/KamiSolverCore/EdgeDetector.m
kami-solver-ios/KamiSolverCore/EdgeMap.h
kami-solver-ios/KamiSolverCore/EdgeMap.m
kami-solver-ios/KamiSolverCore/ErrorHandler.h
kami-solver-ios/KamiSolverCore/ErrorHandler.m
kami-solver-ios/KamiSolverCore/EventPump.h
kami-solver-ios/KamiSolverCore/EventPump.m
kami-solver-ios/KamiSolverCore/GaussianBlurrer.h
kami-solver-ios/KamiSolverCore/GaussianBlurrer.m
kami-solver-ios/KamiSolverCore/Graph.h
kami-solver-ios/KamiSolverCore/Graph.m
kami-solver-ios/KamiSolverCore/GraphExtractor.h
kami-solver-ios/KamiSolverCore/GraphExtractor.m
kami-solver-ios/KamiSolverCore/HandlerRegistration.h
kami-solver-ios/KamiSolverCore/HandlerRegistration.m
kami-solver-ios/KamiSolverCore/HasClickHandlers.h
kami-solver-ios/KamiSolverCore/HasClickHandlers.m
kami-solver-ios/KamiSolverCore/HasImageSelectedHandlers.h
kami-solver-ios/KamiSolverCore/HasImageSelectedHandlers.m
kami-solver-ios/KamiSolverCore/HasInteger.h
kami-solver-ios/KamiSolverCore/HasInteger.m
kami-solver-ios/KamiSolverCore/HasText.h
kami-solver-ios/KamiSolverCore/HasText.m
kami-solver-ios/KamiSolverCore/HudOrientation.h
kami-solver-ios/KamiSolverCore/HudOrientation.m
kami-solver-ios/KamiSolverCore/HudParser.h
kami-solver-ios/KamiSolverCore/HudParser.m
kami-solver-ios/KamiSolverCore/ImageCharacteristic.h
kami-solver-ios/KamiSolverCore/ImageCharacteristic.m
kami-solver-ios/KamiSolverCore/ImageSelectedEvent.h
kami-solver-ios/KamiSolverCore/ImageSelectedEvent.m
kami-solver-ios/KamiSolverCore/ImageSelectedHandler.h
kami-solver-ios/KamiSolverCore/ImageSelectedHandler.m
kami-solver-ios/KamiSolverCore/Kami1ConnectivityProvider.h
kami-solver-ios/KamiSolverCore/Kami1ConnectivityProvider.m
kami-solver-ios/KamiSolverCore/Kami1NodeGeometryProvider.h
kami-solver-ios/KamiSolverCore/Kami1NodeGeometryProvider.m
kami-solver-ios/KamiSolverCore/Kami1PuzzleAreaClassifier.h
kami-solver-ios/KamiSolverCore/Kami1PuzzleAreaClassifier.m
kami-solver-ios/KamiSolverCore/Kami2ConnectivityProvider.h
kami-solver-ios/KamiSolverCore/Kami2ConnectivityProvider.m
kami-solver-ios/KamiSolverCore/Kami2NodeGeometryProvider.h
kami-solver-ios/KamiSolverCore/Kami2NodeGeometryProvider.m
kami-solver-ios/KamiSolverCore/Kami2PuzzleAreaClassifier.h
kami-solver-ios/KamiSolverCore/Kami2PuzzleAreaClassifier.m
kami-solver-ios/KamiSolverCore/KamiImage.h
kami-solver-ios/KamiSolverCore/KamiImage.m
kami-solver-ios/KamiSolverCore/KamiSolverPresenter.h
kami-solver-ios/KamiSolverCore/KamiSolverPresenter.m
kami-solver-ios/KamiSolverCore/KamiSolverView.h
kami-solver-ios/KamiSolverCore/KamiSolverView.m
kami-solver-ios/KamiSolverCore/KamiVersion.h
kami-solver-ios/KamiSolverCore/KamiVersion.m
kami-solver-ios/KamiSolverCore/KMeansClusterer.h
kami-solver-ios/KamiSolverCore/KMeansClusterer.m
kami-solver-ios/KamiSolverCore/Move.h
kami-solver-ios/KamiSolverCore/Move.m
kami-solver-ios/KamiSolverCore/NodeGeometry.h
kami-solver-ios/KamiSolverCore/NodeGeometry.m
kami-solver-ios/KamiSolverCore/NodeGeometryProvider.h
kami-solver-ios/KamiSolverCore/NodeGeometryProvider.m
kami-solver-ios/KamiSolverCore/Palette.h
kami-solver-ios/KamiSolverCore/Palette.m
kami-solver-ios/KamiSolverCore/PaletteList.h
kami-solver-ios/KamiSolverCore/PaletteList.m
kami-solver-ios/KamiSolverCore/ParseException.h
kami-solver-ios/KamiSolverCore/ParseException.m
kami-solver-ios/KamiSolverCore/PathSet.h
kami-solver-ios/KamiSolverCore/PathSet.m
kami-solver-ios/KamiSolverCore/PlayAreaDetector.h
kami-solver-ios/KamiSolverCore/PlayAreaDetector.m
kami-solver-ios/KamiSolverCore/Point.h
kami-solver-ios/KamiSolverCore/Point.m
kami-solver-ios/KamiSolverCore/PointList.h
kami-solver-ios/KamiSolverCore/PointList.m
kami-solver-ios/KamiSolverCore/PuzzleContext.h
kami-solver-ios/KamiSolverCore/PuzzleContext.m
kami-solver-ios/KamiSolverCore/PuzzleParser.h
kami-solver-ios/KamiSolverCore/PuzzleParser.m
kami-solver-ios/KamiSolverCore/Rectangle.h
kami-solver-ios/KamiSolverCore/Rectangle.m
kami-solver-ios/KamiSolverCore/Search.h
kami-solver-ios/KamiSolverCore/Search.m
kami-solver-ios/KamiSolverCore/SolutionGeometry.h
kami-solver-ios/KamiSolverCore/SolutionGeometry.m
kami-solver-ios/KamiSolverCore/SolutionGeometryList.h
kami-solver-ios/KamiSolverCore/SolutionGeometryList.m
kami-solver-ios/KamiSolverCore/SolutionGeometryMaker.h
kami-solver-ios/KamiSolverCore/SolutionGeometryMaker.m
kami-solver-ios/KamiSolverCore/SolutionState.h
kami-solver-ios/KamiSolverCore/SolutionState.m
kami-solver-ios/KamiSolverCore/StartSolverEvent.h
kami-solver-ios/KamiSolverCore/StartSolverEvent.m
kami-solver-ios/KamiSolverCore/VersionDetector.h
kami-solver-ios/KamiSolverCore/VersionDetector.m
kami-solver-ios/KamiSolverCore/VisualGraph.h
kami-solver-ios/KamiSolverCore/VisualGraph.m
kami-solver-ios/KamiSolverCore/XMeansClusterer.h
kami-solver-ios/KamiSolverCore/XMeansClusterer.m
kami-solver-ios/KamiSolverCore/FastGraph.h
kami-solver-ios/KamiSolverCore/FastGraph.m
